*{
    font-family: 'Poppins', sans-serif;
}
.h-font{
    font-family: 'Merienda', cursive;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.custom-bg{
  background-color: #2ec1ac;
  border: 1px solid #2ec1ac;
}
.custom-bg:hover{
  background-color: #279e8c;
  border-color: #279e8c;
}