:root{
  --teal: #2ec1ac;
  --teal_hover: #279e8c;
}


*{
    font-family: 'Poppins', sans-serif;
}
.h-font{
    font-family: 'Merienda', cursive;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.custom-bg{
  background-color: var(--teal);
  border: 1px solid var(--teal_hover);
}
.custom-bg:hover{
  background-color: var(--teal_hover);
  border-color: var(--teal_hover);
}

.h-line {
  width: 150px;
  height: 1.3px; 
  margin: 0 auto;
       }

.custom-alert{
  position: fixed;
  top: 25px;
  right: 25px;
}

@media screen and (max-width: 991px){
  #dashboard-menu{
    height: auto;
    width: 100%;
  }
  #main-content{
    margin-top: 60px;
  }
}

